<p> Name: <%= @user.name %> </p>
<p> Alias: <%= @user.alias %> </p>
<P> Email: <%= @user.email %> </p>

<hr>

<p>Total Number of Posts: <%= @ideas.count %></p>
<p>Total Number of Likes: <%= @liked_posts.count %>
</p>


